.postList {
  .addPost {
    display: flex;
    align-items: flex-end;

    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;

    background-color: var(--active);

    .addPostText {
      width: 100%;
      height: 40px;
      border: none;

      background-color: transparent;

      color: var(--font-color);
      line-height: 30px;
    }

    .postBtn {
      width: 48px;
      margin: 0 20px;
      border: 1px solid var(--font-color);
      border-radius: 10px;

      background-color: transparent;
    }

    .addPostBtn {
      width: 106px;
      height: 40px;
      border-radius: 10px;
    }
  }
}
