.content {
  grid-area: content;

  border-radius: 10px;
  box-shadow: 4px 2px 21px 3px rgba(32, 33, 36, 0.5);

  padding: 25px;

  h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}
