.mainPage {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 250px 1fr;
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 60px 1fr;
  }
}
