.headerLogo {
  grid-area: headerLogo;

  display: flex;
  align-items: center;

  margin-left: 25px;

  img {
    height: 40px;
    width: auto;
    margin-right: 10px;
  }

  h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--white);
  }
}
