.sideBar {
  grid-area: sidebar;

  border-radius: 10px;
  box-shadow: 4px 2px 21px 3px rgba(32, 33, 36, 0.5);

  .sideBarNav {
    position: sticky;
    top: 0;

    padding: 25px 0;

    border-radius: 10px;
  }
}
