.sideBarLink {
  position: relative;

  display: flex;
  align-items: center;

  width: 80%;
  height: 40px;
  margin: 0 auto 10px auto;
  padding: 10px;
  border-radius: 10px;

  color: var(--white);

  transition: all 0.5s ease;

  &:hover,
  &:focus {
    background-color: var(--active);
  }

  .icon {
    margin-right: 10px;
  }

  .badge {
    margin-left: auto;
  }

  @media (max-width: 768px) {
    .icon {
      margin: 0 auto;
    }

    p {
      font-size: 0;
    }

    .badge {
      position: absolute;
      bottom: -5px;
      right: -5px;
      margin: 0;
    }
  }
}

.active {
  background-color: var(--active);
  transform: translateX(5px);
}
