.sideBarLink {
  display: flex;
  align-items: center;

  width: 200px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;

  color: var(--white);

  .navIcon {
    margin: 0 20px 0 10px;
  }

  .navBadge {
    margin: 0 10px 0 auto;
  }
}

.active {
  background-color: var(--dark);

  transition: all 0.5s ease;
}
