.chatItem {
  display: flex;
  align-items: center;

  margin: 10px;
  padding: 0 10px;
  border-radius: 10px;

  transition: all 0.5s ease;

  &:hover,
  &:focus {
    background-color: var(--active);
  }

  .avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .badge {
    margin-left: auto;
  }
}

.active {
  background-color: var(--active);
}
