.chatItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
  margin-bottom: 10px;
  border-radius: 10px;

  .avatar {
    width: 100px;
    height: 100px;
  }
}

.active {
  background-color: var(--active);
}
