.chatMessages {
  grid-area: chatMessages;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 80vh;

  border-radius: 10px;
  box-shadow: 4px 2px 21px 3px rgba(32, 33, 36, 0.5);

  .messagesArea {
    overflow-y: scroll;

    padding: 20px;
    text-align: right;
  }
  .sendMessage {
    display: flex;
    align-items: flex-end;

    padding: 10px 20px;
    border-radius: 10px;

    background-color: var(--active);

    .sendMessageText {
      width: 100%;
      height: 40px;
      border: none;

      background-color: transparent;

      color: var(--font-color);
      line-height: 15px;
    }

    .sendMessageBtn {
      width: 48px;
      margin-left: 20px;
      border-radius: 10px;
    }
  }
}
